<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<mat-toolbar>
  <mat-toolbar-row>
    <img
      height="100%"
      alt="Angular Logo"
      src="/assets/xw_logo.png"
    />
    <span>{{ title }} app is running!</span>
    <div class="spacer"></div>
    <a href="https://gitlab.kreuzwerker.de">
      <img height="40" src="/assets/gitlab.png" alt="view gitlab repository">
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <app-preset-list></app-preset-list>
  </mat-sidenav>
  <mat-sidenav-content>
    This is the main content
  </mat-sidenav-content>
</mat-sidenav-container>
