<mat-toolbar color="accent">
  <mat-toolbar-row>
    <img
      height="100%"
      alt="Angular Logo"
      src="/assets/xw_logo.png"
    />
    <span>Poster It The xw Style!</span>
    <div class="spacer"></div>
    <a href="https://github.com/kreuzwerker/xw-posterize.git">
      <img height="40" src="/assets/GitHub-Mark-64px.png" alt="view gitlab repository">
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <app-preset-list (selectedPreset)="posterize($event)" [enabled]="isOriginalAvailable"></app-preset-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="!isOriginalAvailable" id="intro-container">
      <div appFileDrop class="drop-area" (droppedFile)="fileDropped($event)">
        <h2>Drag a picture here</h2>
        <div class="button-container">
          <h3>or press the button</h3>
          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <app-image-display id="original" *ngIf="isOriginalAvailable" source="{{orgImgagedata}}"></app-image-display>
    <app-image-display id="poster" *ngIf="isPosterAvailable" source="{{posterImgagedata}}"></app-image-display>
    <mat-progress-spinner *ngIf="isProcessing" mode="indeterminate" color="accent" strokeWidth="200" diameter="200"></mat-progress-spinner>

  </mat-sidenav-content>
</mat-sidenav-container>
<input type="file" class="file-input" accept="image/jpeg, image/png"
       (change)="fileClicked($event)" #fileUpload>
